/* src/styles/App.css */

.App {
    text-align: center;
}

.pap-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pap-item {
    margin: 10px;
    transition: background-color 0.3s;
}

.dashboard {
    margin-top: 30px;
}
